
body{
    font: 20px Arial, sans-serif ;
}
.navbar {
    background-color: #0B6121;
}

.quem-somos{
    background-color: #BDBDBD;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #D8D8D8;  
}

.bg-footer{
    background-color: black;
    color: white;
}